body {
    height: 600vh;
    margin: 0;
    padding: 0;
    position: relative;
    background: #FFE3EA;
}
.border {
    box-sizing: border-box;
    width: 97vw;
    height: 99%;
    background: white;
    top: 0;
    z-index: -5;
    margin-left: 1.5%;
    margin-top: 1.5%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: space-around; */


}
.db {
    margin-bottom: 20px;
    margin-left: 1vw;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.db img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
ul {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    font-size: 12px;
    margin-right: 25vw;
    box-sizing: border-box;
    margin-bottom: 25px;
}
li {
    
    list-style: none;
}
li:hover {
    opacity: .5;
}
.topNav {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    width: 94vw;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    height: 50px;
    align-self: top;
    padding-left: 25px;

}
.box1 {
    width: 230px;
    position: sticky;
    display: flex;
    z-index: 1;
    left: 88vw;
    top: 55px;
}
.sub {
    display: absolute;
    box-sizing: border-box;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #FF0063;
    width: 115px;
    height: 40px;
    border: 2px solid #FF0063;
    border-radius: 20px;
    right: 10px;
    top: 10px;
    margin: 0;
    text-align: center;
    padding-top: 10px
}
.sub:hover {
    background: white;
    color: #FF0063;
    transition: 250ms;
}
.in {
    font-size: 20px;
    box-sizing: border-box;
    height: 35px;
    padding-bottom: 3px;
    margin-left: 45px;
    margin-top: 3px;
}
.in img {
    height: 38px;
    width: 38px;
}
.lightPink {
    width: 93vw;
    height: 600px;
    background: #FFE3EA;
    box-sizing: border-box;
    right: 0;
    margin-top: 65px;
}
.bigBox2 {
    width: 93vw;
    height: 800px;
    border: 10px dotted lightcyan;
    box-sizing: border-box;
    right: 0;
    margin-top: 65px;
    margin-right: 4vw;
}
#bookContainer {
    width: 67vw;
    height: 1000px;
    /* border: 3px solid black; */
    box-sizing: border-box;
    margin-right: 13vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    margin-top: 65px;
}
.books {
    /* border: 3px solid green; */
    width: 32vh;
    height: 500px;
    box-sizing: border-box;
}
summary {
    font-size: 20px;
    font-weight: bold;

}
#teal {
    background: teal;
    height: 300px;
    width: 200px;
}
#pink {
    background: pink;
    height: 300px;
    width: 200px;
}
#green {
    background: green;
    height: 300px;
    width: 200px;
}
#purple {
    background: purple;
    height: 300px;
    width: 200px;
}
#red {
    background: red;
    height: 300px;
    width: 200px;
}
#blue {
    background: blue;
    height: 300px;
    width: 200px;
}
main {
    position: relative;
    height: 90%;
    width: 100vw;
}
.bigBox4 {
    width: 93vw;
    height: 800px;
    background: lightslategray;
    box-sizing: border-box;
    right: 0;
    margin-top: 65px;
}
.circles {
    position: fixed;
    box-sizing: border-box;
    padding-right: 25px;
    bottom: 40px;
    width: auto;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    margin: 0;

}
.round {
    border: 1px solid #FF0063;
    background: white;
    color: #FF0063;
    font-size: 14px;
    border-radius: 50%;
    height: 37.5px;
    width: 37.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.round img {
    width: 15px;
    height: 15px;
}
.round:hover {
    background: #FF0063;
    color: white;
    transition: 250ms;
}
footer {
    background: #052ACC;
    box-sizing: border-box;
    color: white;
    height: 150px;
    width: 97vw;
    margin-bottom: 0;
    bottom: 20px;
    position: absolute;
    text-align: center;
    line-height: 120px;

}
.list2 {
    width: 32vw;
    font-size: 11px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    color: lightblue;
}